<%=  form_with scope: :task, url: category_task_path, method: :put, locale: true do |form| %>


  <div class="card">
    <div class="card-header">
      <h1>Edit Task Details</h1>
    </div>
    <div class="card-body">
      <div class="field form-group">
        <%= form.label :task_name %>
        <%= form.text_field :task_name, class:"form-control" %>
      </div><br/>

      <div class="field form-group">
        <%= form.label :task_body %>
        <%= form.text_field :task_body, class:"form-control" %>
      </div><br/>

      <div class="actions">
        <%= form.submit "Save Changes", class: "btn btn-dark btn-sm" %>
        <%= link_to "Delete Task", category_task_path(@task.category_id, @task.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this task?'}, class: "btn btn-danger btn-sm" %>
      </div><br/>
    </div>
  </div>
  <br/>
  <%= render 'layouts/task_errors' %>
<% end %>