<%=  form_with scope: :task, url: category_task_path, method: :put, locale: true do |form| %>

  <h1> Edit Task </h1>

  <%= form.label :task_name %>
  <%= form.text_field :task_name %>

  <%= form.label :task_body %>
  <%= form.text_field :task_body %>

  <%= form.submit %>

<% end %>