<h1> <%= @category.category_name %> : Task List </h1>

<table class="table table-bordered table-hover">
   <thead class="table-dark">
    <tr>
      <th class="text-nowrap"> Task </th>
      <th class="text-nowrap"> Details </th>
      <th class="text-nowrap"> Date Created </th>
      <th class="text-nowrap"> Date Updated </th>
      <th class="text-nowrap"> Deadline  </th>
      <th class="text-nowrap"> Status </th>
      <%# <th></th> %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <% if task.user == current_user %>
      <tr>
        <td class="text-nowrap"> <%= link_to task.task_name, category_task_path(task.category_id, task.id) %> </td>
        <td> <%= task.task_body%> </td>
        <td class="text-nowrap"> <%= task.created_at %> </td>
        <td class="text-nowrap"> <%= task.updated_at %> </td>
        <td class="text-nowrap"> <%= task.deadline %> </td>
        <td class="text-nowrap"> <%= task.status %> </td>
        <%# <td> %>
          <%# <%= link_to "View Task Details", category_task_path(task.category_id, task.id), class: "btn btn-outline-dark btn-sm" %> 
          <%# <%= link_to "Edit", edit_category_task_path(task.category_id, task.id), class: "btn btn-outline-dark btn-sm" %>
          <%# <%= link_to "Delete", category_task_path(task.category_id, task.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this task?'}, class: "btn btn-outline-dark btn-sm" %> 
        <%# </td> %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table> 

<p>
  <button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Sort Tasks
  </button>
  <%= link_to "Add New Task", new_category_task_path, class: "btn btn-outline-dark btn-sm" %> 
  <%= link_to "Back to Categories", categories_path, class: "btn btn-outline-dark btn-sm" %> 
</p>
<div class="collapse" id="collapseExample">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item text-nowrap"><%= link_to "View All Tasks", category_tasks_path %></li>
      <li class="list-group-item text-nowrap"><%= link_to "Due Today", :sort => "specific_category_tasks_today"%></li>
      <li class="list-group-item text-nowrap"><%= link_to "Status: On-going", :sort => "specific_category_tasks_ongoing"%></li>
      <li class="list-group-item text-nowrap"><%= link_to "Status: Pending", :sort => "specific_category_tasks_pending"%></li>
      <li class="list-group-item text-nowrap"><%= link_to "Status: Done", :sort => "specific_category_tasks_done"%></li>
      <li class="list-group-item text-nowrap"><%= link_to "Sort By Deadline" %></li>
      <li class="list-group-item text-nowrap"><%= link_to "Sort Tasks by Status", :sort => "task_status" %></li>
    </ul>
</div>

<br/>


