<h1> <%= @category.category_name %> : Task List </h1>

<table class="table table-bordered table-hover">
   <thead class="table-dark">
    <tr>
      <th class="text-nowrap"> Task </th>
      <th class="text-nowrap"> Details </th>
      <th class="text-nowrap"> Date Created </th>
      <th class="text-nowrap"> Date Updated </th>
      <%# <th></th> %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <% if task.user == current_user %>
      <tr>
        <td class="text-nowrap"> <%= link_to task.task_name, category_task_path(task.category_id, task.id) %> </td>
        <td> <%= task.task_body%> </td>
        <td class="text-nowrap"> <%= task.created_at %> </td>
        <td class="text-nowrap"> <%= task.updated_at %> </td>
        <%# <td> %>
          <%# <%= link_to "View Task Details", category_task_path(task.category_id, task.id), class: "btn btn-outline-dark btn-sm" %> 
          <%# <%= link_to "Edit", edit_category_task_path(task.category_id, task.id), class: "btn btn-outline-dark btn-sm" %>
          <%# <%= link_to "Delete", category_task_path(task.category_id, task.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this task?'}, class: "btn btn-outline-dark btn-sm" %> 
        <%# </td> %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<%= link_to "Add Task", new_category_task_path, class: "btn btn-outline-dark btn-sm" %> 
<%= link_to "Back to Categories", categories_path, class: "btn btn-outline-dark btn-sm" %> 