<%=  form_with scope: :task, url: category_tasks_path, method: :post, locale: true do |form| %>

  <div class="card">
    <div class="card-header">
      <h1>Create New Task</h1>
    </div>

    <div class="card-body">
      <div class="field form-group">
        <%= form.label :task %>
        <%= form.text_field :task_name, class: "form-control" %>
      </div><br/>

      <div class="field form-group">
        <%= form.label :details %>
        <%= form.text_field :task_body, class: "form-control" %>
      </div><br/>

      <div class="field form-group">
        <% form.label :"User ID" %>
        <%= form.number_field :user_id, id: :task_user_id, class: "form-control", value: current_user.id, type: :hidden %>
      </div>

      <div class="field form-group">
        <%= form.label :deadline %>
        <%= form.date_field :deadline, class: "form-control" %>
      </div><br/>

      <div class="field form-group">
        <%= form.label :"Status" %>
        <div class="form-check">
          <%= form.radio_button :status, 'Pending' %>
          <%= form.label :"Pending", class: "form-check-label", for: "flexRadioDefault1" %>
        </div>

        <div class="form-check">
          <%= form.radio_button :status, 'On-going' %>
          <%= form.label :"On-going", class: "form-check-label", for: "flexRadioDefault1" %>
        </div>

        <div class="form-check">
          <%= form.radio_button :status, 'Done' %>
          <%= form.label :"Done", class: "form-check-label", for: "flexRadioDefault1" %>
        </div>
      </div><br/>
    
      <div class="actions">
        <%= form.submit "Add Task", class: "btn btn-dark" %>
      </div><br/>
    </div>
  </div>
  <br/>
  <%= render 'layouts/task_errors' %>
<% end %>