<div class="card">
  <div class="card-header">
    <h1>Task Details</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Task: </h5>
    <p class="card-text"><%= @task.task_name %></p>
    <h5 class="card-title">Details: </h5>
    <p class="card-text"><%= @task.task_body %></p>
    <br/>
    
    <%= link_to "Edit", edit_category_task_path(@task.category_id, @task.id), class: "btn btn-outline-dark btn-sm" %>
    <%= link_to "Delete", category_task_path(@task.category_id, @task.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this task?'}, class: "btn btn-outline-dark btn-sm" %>
  </div>
</div>

<br/>


<%= link_to "Back to Task List", category_tasks_path, class: "btn btn-outline-dark btn-sm" %>
<%= link_to "Back to Categories", categories_path, class: "btn btn-outline-dark btn-sm" %>
