<h1> Category Details </h1>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th> Category Name </th>
      <th> Category Body </th>
      <th> Date Created </th>
      <th> Date Updated </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= @category.category_name %> </td>
      <td> <%= @category.category_body %> </td>
      <td> <%= @category.created_at %> </td>
      <td> <%= @category.updated_at %> </td>
      <td> <%= link_to "View All Tasks", category_tasks_path(category_id: @category.id), class: "btn btn-outline-dark btn-sm" %> </td>
    </tr>
  </tbody>
</table>


<%= link_to "Back to Categories List", categories_path, class: "btn btn-outline-dark btn-sm" %>