<div class="card">
  <div class="card-header">
    <h1>Category Details</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Title: </h5>
    <p class="card-text"><%= @category.category_name %></p>
    <h5 class="card-title">Description: </h5>
    <p class="card-text"><%= @category.category_body %></p>
    <br/>
   
    <%= link_to "Edit", edit_category_path(@category.id), class: "btn btn-warning btn-sm" %>
    <%= link_to "Delete", category_path(@category.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this category?'}, class: "btn btn-danger btn-sm" %>
    <%= link_to "View Tasks" , category_tasks_path(category_id: @category.id), class: "btn btn-primary btn-sm" %>
  
  </div>
</div>

<br/>

<%= link_to "Back to Categories List", categories_path, class: "btn btn-outline-dark btn-sm" %>

